@model IEnumerable<bugtracker.Models.Issue>
@{
    ViewData["Title"] = "Index";
}
<h5 class="Typography--textAlignCenter"> @ViewBag.Date </h5>
<h2 class="Typography--textAlignCenter"> @ViewBag.Greeting </h2>
<div class=Achievement-Widget><div class="issuesStatus"> Issues Status</div></div>

<div class="WidgetContainer"> 
    <div class="Widget MyIssues-Widget Card">
        <div class="MyIssues-Header">
            <h4 class="MyIssues-Widget-Title">My Issues</h4>
        </div>
        <div class="MyIssues-Content"> 
            @await Component.InvokeAsync("MyIssues")
        </div>
    </div>
    <div class=" Widget AllIssues-Widget Card"> 
        <div class="AllIssues-Header">
            <h4 class="AllIssues-Widget-Title">All Issues</h4>
            <div><span>Dropdown</span></div>
        </div>
        <div class="AllIssues-Content"> 
            @await Component.InvokeAsync("AllIssues")
        </div>
    </div>
</div>