html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #1E1F21;
  margin-top: auto;
  margin-bottom: 60px;
}

.container-centered {
  position: fixed;
  top: 50%;
  left: 50%;
  max-height: 100vh;
  overflow-y: auto;
  width: 100%;
  text-align: center;
  transform: translate(-50%,-50%);
}

.closebutton{ 
  position: absolute;
  top: 1%;
  right: 2%;
}

.form-group {
  margin-bottom: 5px;
}

.card{
  min-width: 300px;
  border: 1px solid gray;
  border-radius: 15px;
  margin-bottom: 10px;
  padding-left: 10px;
  text-align: center;
  background-color: #424242d9;
}

.cardcontainer{
  display: flex;
  max-height: 85vh;
}

.col1{
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-right: 10px;
}
.col2{
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-right: 10px;
}
.col3{
  display: flex;
  flex: 1;
  flex-direction: column;
}

.collabel{
  text-align: center;
  color: gray;
  border: 1px solid gray;
  border-radius: 15px;
  max-height: 50px;
  max-width: 300px;
}

.colheader{
  display: flex;
  justify-content: space-around;
}

.statuslabel{
 font-weight: bold;
}

.prioritylabel{

}

.issuesStatus {
  align-items: center;
  display: inline-flex;
  background-color: #252628;
  border-radius: 60px;
  padding: 5px 25px 5px 25px;
  max-width: fit-content;
  height: 4em;
  text-align: center;
  justify-self: center;
}

.Typography--textAlignCenter {
  text-align: center;
}

.WidgetContainer {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

.Widget {
  box-sizing: border-box;
  padding: 8px;
}

.Achievement-Widget {
  display: grid;
  margin-bottom: 12px;
  margin-top: 16px;
}

.MyIssues-View {
  overflow-y: auto;
  height: 100vh;
}

.MyIssues-Widget {
  margin-right: 5px;
  display: flex;
  flex-direction: column;
}

.MyIssues-Widget-Title {
  padding-right: 8px;
}

.MyIssues-Content {
  height: inherit;
  overflow-y: scroll;
}

.MyIssues-Header {
  padding: 24px 24px 0;
  border-bottom: 1px solid #424244;
}

.AllIssues-Widget {
  display: flex;
  flex-direction: column;
}

.AllIssues-Widget-Title {
  padding-right: 8px;
}

.AllIssues-Header {
  display: flex;
  padding: 24px 24px 0;
  border-bottom: 1px solid #424244;
}

.AllIssues-Content {
  height: inherit;
  overflow-y: scroll;
}

.Card {
  background-color: #2A2B2D ;
  border: 1px solid #424244;
  border-radius: 8px;
  width: 50%;
  padding: 8px;
  height: 400px;
}

.modal-content {
  background-color: #1E1F21;
  border-radius: 35px;
}

.hidden
{
    display: none;
}