@model bugtracker.Models.Issue
@using bugtracker.Enums

@{
    ViewData["Title"] = "Edit";
}
<div id="EditView">
    <h1>Edit</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form id="EditForm" asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label class="control-label">Name:</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Priority:</label>
                    @Html.DropDownListFor(n => n.Priority, Html.GetEnumSelectList<Priority>())
                    <span asp-validation-for="Priority" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Due Date:</label>
                    <input asp-for="DueDate" class="form-control" />
                    <span asp-validation-for="DueDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Type:</label>
                    @Html.DropDownListFor(n => n.Type, Html.GetEnumSelectList<IssueType>())
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Status:</label>
                    @Html.DropDownListFor(n => n.Status, Html.GetEnumSelectList<Status>())
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Assign To:</label>
                    @Html.DropDownListFor(n => n.Assigned, new SelectList(Model.Users), "")
                    <span asp-validation-for="Assigned" class="text-danger"></span>
                </div>
                <div class="form-group issue-description">
                    <label class="control-label">Description:</label>
                    <textarea  asp-for="Description" class="form-control issue-description-input"> </textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Completed By:</label>
                    <input asp-for="CompletedBy" class="form-control" readonly/>
                    <span asp-validation-for="CompletedBy" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div id="back-list-button">
        <a asp-action="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
